<nav class="navbar navbar-expand-sm navbar-dark back">
  <ul class="navbar-nav">
    <span class="navbar-brand" id="Logo">
      <h1><a href="/" title="Go to Home">
          <img src="../assets/Images/RencataLogo.png" width="50%"></a></h1>
    </span>
    <div style="text-align: center;padding-top: 10px; color: white;">
      <h3>{{title}}</h3>
    </div>
  </ul>
</nav>

<div class="container">
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<br>

<footer class="footer">
  <div class="container"><br>
    <span style="float:right;background: darkorange;">Developed by Suresh P (99766 29962)</span>
    <span style="float:left;">Copyright © 2020, All rights reserved. Rencata.com</span>
  </div>
</footer>